.error {
    color: red;
    font-weight: 1000;
    font-size: 3rem;
}

.app {
    height: 100vh;

    header {
        width: 50%;
        margin: 8px auto;
        display: flex;
        justify-content: center;

        input {
            width: 80%;
            padding: 8px;
            border: 2px solid #fedcba;
        }
    }

    video {
        display: block;
        margin: 0 auto;
        max-width: calc(80% - 32px);
        max-height: 80%;
    }

    button {
        position: relative;
        left: 50%;
        margin: 16px auto;
    }

    .vtt-selector {
        display: flex;
        margin: 0 auto;
        width: 33%;
        flex-wrap: wrap;
        max-height: 240px;
        overflow: auto;

        label {
            font-size: 1.2rem;
            flex-basis: 50%;
            margin: 8px 0;

            input {
                margin-right: 4px;
            }
        }
    }

    ::cue {
        color: #fffaaa;
    }
}